@'
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml

# Builds/outputs
dist/
build/
.coverage/
coverage/
.cache/
.temp/

# Vite/React
client/.vite/
client/dist/

# Env/secrets
.env
.env.*
client/.env
server/.env
server/.env.*

# Logs
logs/
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

#dont track
DEPLOYMENT_CHECKLIST.md
WEBSITE_OVERVIEW.md